services:
  - type: web
    name: intervue-backend
    runtime: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: node ./server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: FRONTEND_URL
        sync: false
